<h1>help</h1>
<p>Home - Display user info (Profile Page) </p>
<p>Subjects - Displays all the subjects from the database</p>
<p>Courses - Displays all the courses from the database</p>
<p>Instructors - Displays all the instructors from the database</p>
