<h1>Subjects</h1>
<p>
<div class="table-responsive">
  <table class="table table-striped">
                 <thead>
                   <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Abbreviation</th>
                  <th>Id</th>
                 </tr>
                 </thead>
              <tbody>
                <% @subjects.each do |subject| %>
                <tr>
                  <td><%= subject['id']%> </td>
                  <td><%= subject['name']%></td>
                  <td><%= subject['abbr']%></td>
                  <td><%= subject['unique_id']%></td>
                </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
</p>
